.aboutUS{
  padding: 50px;
}

.aboutUS h2,
.aboutUS .descText{
  text-align: center;
}

.aboutUS h2{
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: transparent;
  background-clip: text;
}

.aboutUS .descText{
  max-width: 60%;
  margin: 0 auto;
}

.aboutUS .descHolder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 80%;
  margin: 40px auto;
}

.aboutUS .descItem{
  max-width: 260px;
  text-align: center;
  padding: 15px;
}