.socialHolder{
  display: grid;
  grid-template-columns: repeat(3, max-content);
}

.socialHolder li{
  padding: 0 35px 15px 0;
}

.socialHolder a{
  color: white;
}

.socialHolder a:hover{
  color:#001AFF;
}