.promoItem{
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr .5fr 1.3fr .5fr;
}

.promoItem img{
  width: 100%;
  z-index: -2;
}

.promoItem .tag {
  font-size: 10px;
  font-weight: 700;
  line-height: 1.4;
  margin: 10px;
  padding: 3px 7px;
  letter-spacing: 1px;
  color: #ff6927;
  border: 1px solid #ff6927;
  border-radius: 4px;
  max-width: max-content;
  text-transform: uppercase;
}

.promoItem .promoTitle{
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #1d364b;
  overflow: hidden;
}

.promoItem .promoDate{
  margin: 10px;
  color: #a9a9a9;
  font-size: 11px;
}