.promoSection{
  padding: 50px;
}

.promoContent{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.promoHolder{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.promoSection h2{
  text-align: center;
}