.productImg{
  justify-self: center;
  width: 30%;
}

.productTitle{
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}

.price{
  color: #9D9D9D;
  font-weight: bold;
}

.productItem{
  display: grid;
  border: 1px solid #9F9F9F;
  border-radius: 35px;
  padding: 20px;
  margin: 30px 0 0;
  transition: box-shadow 0.4s ease-out;
  align-items: start;
  grid-template-rows: .5fr 1fr .4fr .8fr .2fr .2fr;
}

.productItem:hover{
  box-shadow: 0px 0px 10px 0px #616161;
}

.productItem p{
  margin-bottom: 5px;
  margin-top: 5px;
}

.productPrice{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.productPrice span{
  font-weight: bold;
  font-size: 25px;
}

.plusBtn{
  justify-self: end;
  border-radius: 10px;
  padding: 7px;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #9F9F9F;
  transition: all .1s ease-out;
  animation: .3s addProductAnimation ease-out;
}

@keyframes addProductAnimation {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}

.checkBtn{
  justify-self: end;
  border-radius: 10px;
  padding: 7px;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgb(38, 246, 38);
  border: 1px solid rgb(38, 246, 38);
  transition: all .1s ease-out;
  animation: .3s addProductAnimation1 ease-out;
}

@keyframes addProductAnimation1 {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}

.plusBtn img,
.checkBtn img{
  width: 15px;
}

/* Кнопка Добавить в избранное */

.favBtn{
  border: 0;
  border-radius: 10px;
  background-color: #001aff;
  color: white;
  padding: 7px;
  font-size: 14px;
  text-align: start;
  width: fit-content;
  cursor: pointer;
  transition: all .2s ease-out;
}

/* .favBtn:hover{
  transform: translateX(20px);
} */

.favActiveBtn{
  border: 0;
  border-radius: 10px;
  padding: 7px;
  font-size: 14px;
  text-align: start;
  width: fit-content;
  cursor: pointer;
  background-color: rgb(38, 246, 38);
  transition: all .2s ease-out;
}