footer{
  display: grid;
  grid-template-columns: 1fr 4fr;

  padding: 20px 50px 50px;
  background-color: #262323;
  color: white;
}

footer .logo{
  width: 150px;
  user-select: none;
}

footer .logo img{
  width: 100%;
}